<%= form_for(@evaluation) do |f| %>
  <% if @evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% @evaluation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :date, "Fecha",:class => "label_form" %>
  <%= f.datepicker :date, :class => "text_field_form" %>

  <%= f.label :owner_id, "Creada por",:class => "label_form"  %>
  <%= f.collection_select :owner_id, User.all, :id, :name, { :prompt => 'Seleccione un usuario' }, :class => "select_form" %>

  <%= f.label :evaluation_type_id,"Tipo de evaluacion",:class => "label_form" %>
  <%= f.collection_select :evaluation_type_id, EvaluationType.all, :id, :name, { :prompt => 'Seleccione un tipo de evaluacion' }, :class => "select_form"%>

  <%= f.label :notes,"Observaciones",:class => "label_form" %>
  <%= f.text_area :notes, :class => "text_field_form", :size => "50x10"  %>

  <%= f.submit "Guardar", class: "btn btn-primary btn_form" %>

  <hr>
<% end %>
