<%= form_for(@evaluation_type) do |f| %>
  <% if @evaluation_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation_type.errors.count, "error") %> prohibited this evaluation_type from being saved:</h2>

      <ul>
      <% @evaluation_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nombre",:class => "label_form" %>
    <%= f.text_field :name,:class => "text_field_form", :required => true %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar", class: "btn btn-primary btn_form" %>
  </div>
  <hr>
<% end %>