<div id="reg_form" class="bg_form">
  <h1>Listado de usuarios registrados</h1>

  <% @users.each do |user| %>
    <hr>
    <div class="user">
     <% if !user.image_url(:thumb).to_s.blank? %>
        <p><%= image_tag user.image_url(:thumb).to_s %></p>
     <% end %>
        <p><%= user.name %></p>
        <p><%= user.email %></p>
        <p><%= user.phone %></p>
        <% if (!user.user_type.nil?) %>
          <p><%= user.user_type.name %></p>
        <% end %>
        <p><%= link_to 'Mostrar', user %> - <%= link_to 'Editar', edit_user_path(user) %> - <%= link_to 'Eliminar', user, method: :delete, data: { confirm: '¿Estas seguro?' } %></p>
    </div>
  <% end %>

  <hr>
  <%= link_to 'Nuevo usuario', new_user_path, class: "btn btn-primary btn_form" %>
</div>