<% provide(:title, @user.name) %>
<div class="row">
  <div id="reg_form" class="bg_form">
    <h1>Perfil de usuario</h1>
     <% if !@user.image_url(:show).to_s.blank? %>
       <p><%= image_tag @user.image_url(:show).to_s %></p>
     <% end %>
    <p>
      <b>Nombre:</b>
      <%= @user.name %>
    </p>
    <p>
      <b>Email:</b>
      <%= @user.email %>
    </p>
    <p>
      <b>Telefono:</b>
      <%= @user.phone %>
    </p>
    <% if (!@user.user_type.nil?) %>
      <p>
        <b>Tipo de usuario:</b>
        <%= @user.user_type.name %>
      </p>
    <% end %>
    <hr>
    <% if can? :update, User %>
    <%= link_to 'Editar Perfil', edit_user_path(@user) %>
    <% end %>
    <%= link_to 'Regresar', users_path %>
  </div>
</div>