<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name, "Nombre",:class => "label_form" %>
  <%= f.text_field :name,:class => "text_field_form", :required => true %>

  <%= f.label :responsible_id, "Responsable",:class => "label_form" %>
  <%= f.collection_select :responsible_id, User.all, :id, :name, { :prompt => 'Seleccione un usuario' }, :class => "select_form" %>

  <%= f.label :address, "Direccion",:class => "label_form" %>
  <%= f.text_field :address,:class => "text_field_form", :required => true %>

  <%= f.label :email, "Email",:class => "label_form" %>
  <%= f.text_field :email,:class => "text_field_form", :required => true %>

  <%= f.label :phone, "Telefono",:class => "label_form" %>
  <%= f.text_field :phone,:class => "text_field_form", :required => true %>

  <%= f.label :image, 'Imagen', :class => "label_form" %>
  <%= f.file_field :image, :class => "text_field_form" %>

  <%= f.label :remote_image_url, "o URL de imagen", :class => "label_form" %>
  <%= f.text_field :remote_image_url, :class => "text_field_form" %>

  <%= f.label :web, "Pagina web",:class => "label_form" %>
  <%= f.text_field :web,:class => "text_field_form" %>

  <%= f.label :description, "Descripcion",:class => "label_form" %>
  <%= f.text_area :description,:class => "text_field_form", :required => true %>

  <%= f.label :mission, "Mision",:class => "label_form" %>
  <%= f.text_area :mission,:class => "text_field_form" %>

  <%= f.label :vision, "Vision",:class => "label_form" %>
  <%= f.text_area :vision,:class => "text_field_form" %>

  <%= f.label :objectives, "Objetivos",:class => "label_form" %>
  <%= f.text_area :objectives,:class => "text_field_form" %>

  <%= f.submit "Guardar", class: "btn btn-primary btn_form" %>
  <hr>
<% end %>