<div id="reg_form" class="bg_form">
<h1>Relacion clientes usuarios</h1>
<table>
  <% @client_users.each do |client_user| %>
  <div>
    <p><%= client_user.user_id %></p>
    <p><%= client_user.client_id %></p>
    <p><%= client_user.entailment_date %></p>
    <p><%= client_user.exit_date %></p>
    <p><%= client_user.user_state_id %></p>
    <p><%= link_to 'Mostrar', client_user %></p>
    <p><%= link_to 'Editar', edit_client_user_path(client_user) %></p>
    <p><%= link_to 'Eliminar', client_user, method: :delete, data: { confirm: '¿Esta seguro?' } %></p>
  </div>
<% end %>
</table>
<hr>
<%= link_to 'Nueva relacion', new_client_user_path, class: "btn btn-primary btn_form" %>
</div>