<%= form_for(@component_type) do |f| %>
  <% if @component_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@component_type.errors.count, "error") %> prohibited this component_type from being saved:</h2>

      <ul>
      <% @component_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nombre",:class => "label_form"  %>
    <%= f.text_field :name,:class => "text_field_form", :required => true %>
  </div>
  <div class="field">
    <%= f.label :description, "Descripcion",:class => "label_form" %>
    <%= f.text_field :description,:class => "text_field_form" %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar", class: "btn btn-primary btn_form" %>
  </div>
  <hr>
<% end %>